<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>$(PRODUCT_BUNDLE_IDENTIFIER)</key>
		<string>$(PROVISIONING_PROFILE_SPECIFIER)</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>